/* STYLE */

/* TYPOGRAPHY */
html{
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}

ul li a, #slide-menu button, footer a{
    text-decoration: none;
    color: #ddd;
    font-size: -webkit-calc(50% + 0.5vw);
    font-size: calc(50% + 0.5vw);
}

#slide-menu a{
    font-size: -webkit-calc(10% + 0.2vh);
    font-size: calc(10% + 0.2vh);
    text-decoration: none;
    color: #ddd;
}

p, a{
    font-size: -webkit-calc(75% + 0.5vw);
    font-size: calc(75% + 0.5vw);
    line-height:1.5;
}

h1{
    font-size:-webkit-calc(225% + 0.5vw);
    font-size:calc(225% + 0.5vw);
    color:#ddd;
    line-height: 1;
    font-weight: 400;
}

h2{
    font-size:-webkit-calc(150% + 0.5vw);
    font-size:calc(150% + 0.5vw);
    margin: 0 0 0.5em 0;
    font-weight: 500;
}

h3{
    font-size: -webkit-calc(120% + 0.5vw);
    font-size: calc(120% + 0.5vw);
    margin: 0 0 0.5em 0;
    font-weight: 500;
}

footer h4{
    font-size: -webkit-calc(100% + 0.5vw);
    font-size: calc(100% + 0.5vw);
    margin: 0 0 0.5em 0;
    font-weight: 400;
}

.light-section p{
    color: #333;
}

.light-section h3{
    color: #4fcab9   
}

.dark-section p, .dark-section label, .indicates-required{
    color: #ddd;
}

.dark-section h3{
    color: #ff8630;
}

.dark-section label{
    font-size: -webkit-calc(75% + 0.5vw);
    font-size: calc(75% + 0.5vw);
    font-weight: 400;
}

#mission p{
    font-size: -webkit-calc(90% + 0.5vw);
    font-size: calc(90% + 0.5vw);
}

#mission h2, footer h4{
    color: #ddd;
}

#mission h2 .blue, h4 .blue{
    color:#4fcab9;
}

#mission h2 .orng, h4 .orng{
    color:#ff8630;
}

#footer-copyright{
    font-size: -webkit-calc(50% + 0.5vw);
    font-size: calc(50% + 0.5vw);
}

footer nav{
    font-size: -webkit-calc(60% + 0.5vw);
    font-size: calc(60% + 0.5vw);
}

/****************** GENERAL ********************/
#page{
    overflow-x: hidden;
}

#bg-img{
    position: absolute;
    top:0;
    left:0;
    background-image: url('../img/bg-img.jpg');
    background-position: top;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    height:200vh;
    z-index:-1
}

#header-wrapper{
    height:9vh;
    min-height: 50px;
    width: 100%;

    z-index: 5;
    position:fixed;
    top:0;
    left:0;

    -webkit-transform-origin: top;

        -ms-transform-origin: top;

            transform-origin: top;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
}

header{
    position:fixed;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 2fr 1fr 2fr;
        grid-template-columns: 2fr 1fr 2fr;
    width: 100%;
    overflow:hidden;
    z-index:5;
    -webkit-transform-origin: top;
        -ms-transform-origin: top;
            transform-origin: top;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
}

header .main-nav ul li a{
    color: #ddd;
    text-align: center;
}

#logo{
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 6;
}

#logo img{
    width: auto;
    height: 6vh;
    min-height: 30px;
    max-height: 6vh;
    margin: 1.5vh 0;
}

.main-nav ul{
    width:100%;
    height: 100%;
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding:0 5vw 0 0;
    margin: 0;
    z-index:6;
}

.main-nav ul li{
    display: inline-block;
    line-height: 9vh;
    text-align: center;
    text-decoration: none;
}

.mobile-nav{
    display:none;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    padding-top: 2.5vh;
}

.open-slide button{
    border: none;
    background:transparent;
    cursor:pointer;

    float:right;
    margin-right: 6.5vw;
}

#slide-menu{
    background-color: #333;
    opacity: 0.98;
    width:0;
    height: 100vh;
    position: fixed;
    top:0;
    right:0;
    z-index: 100;
    -webkit-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s;
    padding: 10vh 0;
}

#slide-menu a{
    display: block;
    text-align:center;
    font-size: 120%;
    padding-bottom: 6vh;
}

#slide-menu button{
    position: absolute;
    top:3%;
    left: 80%;

    border: none;
    background:transparent;
    cursor:pointer;

    font-size:120%;
}

#motto{
    height:49vh;
    text-align: center;
    padding:51vh 10vw 0vh 10vw;
    position: relative;
    z-index:1;
}

#mission{
    height:auto;
    padding: 8vh 30vw 20vh 30vw;
    position: relative;
    z-index:1;
}

#mission:target:before{
   content: "";
   display: block;
   height: 9vh;
   margin-top: -9vhpx;
}

#details{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding: 0vh 15vw 0vh 15vw;
    overflow: hidden;
}

#details div{
    padding: 4vh 0;
}

#details div:nth-child(2){
    padding-top:14vh;
}

#details div:last-child{
    padding-bottom:14vh;
}

.center{
    text-align: center;
}

.transparent-bg{
    background-color:transparent;
}

.dark-bg{
    background-color: #333;
    position:relative;
    z-index:3;
}

.light-bg{
    background-color: #ddd;
    position:relative;
    z-index:3;
}

#about-offer, #about-support{
    border-left: 4vw solid #ddd;
    position: relative;
    left: -4vw;
}

#builders, #specs, #contact{
    padding: 10vh 30vw 10vh 30vw;
}

#contact{
    background-image: url('../img/bg-img.jpg');
    background-position: top;
    -webkit-background-size: cover;
            background-size: cover;
    background-repeat:no-repeat;
}

#contact h3{
    color: #ddd;
}

footer{
    padding: 7vh 20vw 1vh 20vw;
    width:60vw;
    overflow: hidden;
    margin:0;
} 

#footer-contacts{
    padding-top: 4vh;
}

footer ul{
    list-style-type: none;
    margin:0;
    padding:1vh 0 0 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer li{
    text-align: center;
    line-height:1;
}

#footer-copyright{
    padding-top: 4vh;
}

#back-to-top{
    padding-top: 1vh;
}
/********************* GRAPHIC ELEMENTS *******************/

/************** TOP GRAPHIC  ****************/
#top-graphic{
    overflow: hidden;
    position: relative;

    line-height:0;
    font-size:0;

    opacity:0.2;

    border-right:4vw solid transparent;
}

#blck-vert-line{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    width:13px;
    background-color: #333;
}

#blue-vert-line{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    margin-left:13px;
    width:8px;
    background-color: #4fcab9;
}

#orng-vert-line{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    margin-left:21px;
    width:11px;
    background-color: #ff8630;
}

#orng-hor-line{
    position:absolute;
    top:15vh;
    left:-webkit-calc(30% + 32px);
    left:calc(30% + 32px);

    width: 45%;
    width: 0;
    height: 8px;

    background-color:#ff8630;
}

#blck-hor-line{
    position:absolute;
    top:-webkit-calc(15vh + 8px);
    top:calc(15vh + 8px);
    left:-webkit-calc(30% + 32px);
    left:calc(30% + 32px);

    width: 45%;
    width: 0;
    height: 11px;

    background-color:#333;
}

#square1{
    position:absolute;
    top: 15vh;
    left:-webkit-calc(30% + 13px);
    left:calc(30% + 13px);

    width: 8px;
    height: 8px;

    background-color:#ddd;
}

#square2{
    position:absolute;
    top: -webkit-calc(15vh + 8px);
    top: calc(15vh + 8px);
    left:-webkit-calc(30% + 21px);
    left:calc(30% + 21px);

    width: 11px;
    height: 11px;

    background-color:#ddd;
}


/******************RIGTH GRAPHIC***************************/

#right-graphic{
    overflow: visible;
    
    position: relative;

    line-height:0;
    font-size:0;

    opacity:0.2;

    grid-row: span 2;
}

#blck-vert-line2{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    margin-left:19px;
    width:13px;
    background-color: #333;
}

#blue-vert-line2{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    margin-left:11px;
    width:8px;
    background-color: #4fcab9;
}

#orng-vert-line2{
    height:100%;
    height:0;
    position:absolute;
    top:-webkit-calc(30vh + 8px);
    top:calc(30vh + 8px);
    left:30%;

    margin-left:0px;
    width:11px;
    background-color: #ff8630;
}

#orng-hor-line2{
    position:absolute;
    top:30vh;
    right:0;
    margin-right:-25vw;

    width: 45%;
    width: 0;
    height: 8px;

    background-color:#ff8630;    
}

#blck-hor-line2{
    position:absolute;
    top:-webkit-calc(30vh + 8px);
    top:calc(30vh + 8px);
    right:0;
    margin-right:-25vw;


    width: 45%;
    width: 0;
    height: 11px;

    background-color:#333;
}

#square3{
    position:absolute;
    top: 30vh;
    left:-webkit-calc(30% + 11px);
    left:calc(30% + 11px);

    width: 8px;
    height: 8px;

    background-color:#ddd;
}

#square4{
    position:absolute;
    top: -webkit-calc(30vh + 8px);
    top: calc(30vh + 8px);
    left:-webkit-calc(30%);
    left:calc(30%);

    width: 11px;
    height: 11px;

    background-color:#ddd;
}


/******************LEFT GRAPHIC************************/
#left-graphic{
    overflow: hidden;
    position: relative;

    line-height:0;
    font-size:0;

    opacity:0.2;

    grid-row: span 2;
}

#blck-vert-line3{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    width:13px;
    background-color: #333;
}

#blue-vert-line3{
    height:100%;
    height:0;
    position:absolute;
    top:0;
    left:30%;

    margin-left:13px;
    width:8px;
    background-color: #4fcab9;
}

#orng-vert-line3{
    height:100%;
    height:0;
    position:absolute;
    top:-webkit-calc(5vh + 8px);
    top:calc(5vh + 8px);
    left:30%;

    margin-left:21px;
    width:11px;
    background-color: #ff8630;
}

#blue-hor-line3{
    position:absolute;
    top:5vh;
    left:0;
    margin-left:-25vw;

    width: 45%;
    width: 0;
    height: 8px;

    background-color:#4fcab9;    
}

#blck-hor-line3{
    position:absolute;
    top:-webkit-calc(5vh + 8px);
    top:calc(5vh + 8px);
    left:0;
    margin-left:-25vw;


    width: 45%;
    width: 0;
    height: 11px;

    background-color:#333;
}

#square5{
    position:absolute;
    top: 35vh;
    left:-webkit-calc(30% + 13px);
    left:calc(30% + 13px);

    width: 8px;
    height: 8px;

    background-color:#ddd;
}

#square6{
    position:absolute;
    top: -webkit-calc(5vh + 8px);
    top: calc(5vh + 8px);
    left:-webkit-calc(30% + 21px);
    left:calc(30% + 21px);

    width: 11px;
    height: 11px;

    background-color:#ddd;
}

#orng-hor-line4{
    position:absolute;
    top:35vh;
    left:-webkit-calc(30% + 32px);
    left:calc(30% + 32px);

    width: 45%;
    width: 0;
    height: 8px;

    background-color:#ff8630;
}

#blck-hor-line4{
    position:absolute;
    top:-webkit-calc(35vh + 8px);
    top:calc(35vh + 8px);
    left:-webkit-calc(30% + 32px);
    left:calc(30% + 32px);

    width: 45%;
    width: 0;
    height: 11px;

    background-color:#333;
}

#square7{
    position:absolute;
    top: -webkit-calc(35vh + 8px);
    top: calc(35vh + 8px);
    left:-webkit-calc(30% + 21px);
    left:calc(30% + 21px);

    width: 11px;
    height: 11px;

    background-color:#ddd;
}

#mc_embed_signup #mce-success-response{
    color:#4fcab9 !important;
}

#mc_embed_signup #mce-error-response{
    color:#ff8630 !important;
}

/* MEDIA QUERIES */

@media(max-width: 720px){

    .main-nav{
        display: none;
    }

    .mobile-nav{
        display: block;
    }

    #motto{
        padding-top:50vh;
    }

    #mission{
        padding:5vh 20vw 10vh 20vw;
        -ms-grid-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;
    }

    #details{
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    }
    
    #details span{
        grid-column: span 1;
    }

    .right, .left{
        grid-column: span 2;        
    }

    #builders, #specs, #contact{
        padding: 10vh 20vw 10vh 20vw;
    }


    #top-graphic, #left-graphic{
        position:relative;
        border: 0;
        left:-11px;
    }

    #blck-hor-line, #orng-hor-line, #blck-hor-line2, #blck-hor-line-3, #blck-hor-line4, #orng-hor-line2, #blue-hor-line3, #blck-hor-line3, #orng-hor-line4{
        display:none;
    }

    #about-offer, #about-support{
        border-right: 10vw solid #ddd;
        margin-right: -10vw;
    }

    footer ul{
        list-style-type: none;
        margin:0;
        padding:1vh 0;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 0 1fr 1fr 1fr 1fr 1fr 0;
            grid-template-columns: 0 1fr 1fr 1fr 1fr 1fr 0;
    }
    
    #page{
        overflow-y:scroll;
    }
}

@media(min-width: 1440px){

    #mission{
        padding-left: 35vw;
        padding-right: 35vw;
    }

    #details{
        padding-left: 25vw;
        padding-right: 25vw;
    }

    footer ul{
        list-style-type: none;
        margin:0;
        padding:1vh 0;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns:3fr 1fr 1fr 1fr 1fr 1fr 3fr;
            grid-template-columns:3fr 1fr 1fr 1fr 1fr 1fr 3fr;
    }
}